/* You can add global styles to this file, and also import other style files */


.float-right {
    float: right;
}


.invalid-field {
    display:block;
    width: 100%;
    font-size: 80%;
    margin-top: 0.25rem;
    color: #dc3545;
}